* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	height: 80%;
}

header {
	background-color: #000;
	padding: 1em 10%;
}

header img {
	image-rendering: pixelated;
	width: 40em;
	max-width: 100%;
}

header h2 {
	color: #777;
	font-size: 1.2rem;
}

nav {
	background-color: #333;
	padding: 0 10%;
	position: sticky;
}

nav ul li {
	display: inline-block;
	margin: 0 1%;
	padding: 0.3rem 2%;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li.selected {
	background-color: #d00;
}

nav ul li:hover {
	background-color: #fff;
}

nav ul li a {
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 0;
	font-size: 1.3rem;
}

nav ul li:hover a {
	color: #d00;
}

.header-content {
	float: left;
	padding: 0 10%;
	padding-top: 1rem;
}

.header-content h1 {
	font-size: 2rem;
	text-align: center;
	padding: 1.5rem;
	padding-bottom: 3rem;
}

.header-content h2 {
	font-size: 1.7rem;
	text-align: left;
	padding-bottom: 1rem;
}

.header-content h3 {
	color: #d00;
	font-size: 1.3rem;
}

.header-content h3 .event-date {
	font-style: italic;
	font-size: 1.3rem;
}

.header-content hr {
	margin-bottom: 2rem;
}

.header-content p {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.header-content ul {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}

.header-content ul li {
	font-size: 1.2rem;
}

main,
.news,
.project {
	display: grid;
	min-height: 96%;
	position: relative;
}

.main-content,
.news-content,
.project-content {
	float: left;
	padding: 0 10%;
	padding-top: 1rem;
}

.main-content h1,
.news-content h1,
.project-content h1 {
	font-size: 2rem;
	text-align: center;
	padding: 1.5rem;
	padding-bottom: 3rem;
}

.main-content h2,
.news-content h2,
.project-content h2 {
	font-size: 1.7rem;
	text-align: left;
	padding-bottom: 1rem;
}

.main-content h3,
.news-content h3,
.project-content h3 {
	color: #d00;
	font-size: 1.3rem;
}

.main-content h3 .event-date,
.news-content h3 .event-date,
.project-content h3 .event-date {
	font-style: italic;
	font-size: 1.3rem;
}

.main-content hr,
.news-content hr,
.project-content hr {
	margin-bottom: 2rem;
}

.main-content p,
.news-content p,
.project-content p {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.main-content ul,
.news-content ul,
.project-content ul {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}

.main-content ul li,
.news-content ul li,
.project-content ul li {
	font-size: 1.2rem;
}

.header-content a,
.main-content a,
.news-content a,
.project-content a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px dotted #d00;
}

.header-content a:hover,
.main-content a:hover,
.news-content a:hover,
.project-content a:hover {
	color: #d00;
	border-bottom: 2px solid #d00;
}

.main-content:nth-child(even),
.news-content:nth-child(even),
.project-content:nth-child(even) {
	background-color: #ddd;
}

.main-content,
.news-content,
.project-content,
.image {
	float: left;
	padding-bottom: 16px;
	padding-right: 32px;
}

main .news,
.projects {
	padding: 0 10%;
}

main .news h1,
main .projects h1 {
	text-align: center;
	margin-bottom: 2rem;
	color: #d00;
}

main .news .news-content,
main .projects .project-content {
	box-sizing: border-box;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
}

main .news .news-content:nth-child(2),
main .projects .project-content:nth-child(2) {
	border-top: none;
}

main .news .news-content:last-child,
main .projects .project-content:last-child {
	border-bottom: none;
}

main .news .news-content:nth-child(even),
main .projects .project-content:nth-child(even) {
	background-color: #ddd;
}

hr.partial {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.resource {
	margin: 1.5rem 0;
	padding: 0 2rem;
}

.resource h3 {
	text-align: center;
}

.resource p {
	margin-bottom: 1.5rem;
}

.resource-set {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.resource-section h2 {
	text-align: center;
}

.officer-roles {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.officer-roles .role h3 {
	padding-bottom: 0.5rem;
}

.officer-roles .role p {
	padding-bottom: 0;
	margin-bottom: 0;
}

.officer-roles .role p:last-child {
	margin-bottom: 1.5rem;
}

footer {
	margin-top: 2rem;
	width: 100%;
	border-top: 4px solid #d00;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 1.5rem 0;
	font-size: 1.2rem;
}

footer ul li {
	display: inline-block;
	padding: 0 3rem;
	border-right: 1px solid #fff;
}

footer ul li:last-child {
	border-right: none;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px dotted #d00;
}

footer ul li a:hover {
	color: #d00;
	border-bottom: 2px solid #d00;
}

@media (max-width: 1112px) {
	nav ul {
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		text-align: center;
	}

	nav ul li {
		margin: 0;
	}

	.officer-roles {
		grid-template-columns: 1fr 1fr;
	}

	.officer-roles .role {
		text-align: center;
	}

	h1.center-heading,
	h2.center-heading,
	h3.center-heading,
	h4.center-heading,
	h5.center-heading,
	h6.center-heading {
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

@media (max-width: 810px) {
	nav ul {
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		text-align: center;
	}

	nav ul li {
		margin: 0;
	}

	main {
		grid-template-columns: 100%;
		padding: 0;
	}

	.main-content {
		padding: 5%;
	}
}

@media (max-width: 620px) {
	header h1 {
		font-size: 1.7rem;
		text-align: center;
	}

	header h2 {
		font-size: 1rem;
		text-align: center;
	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		text-align: center;
	}

	nav ul li a {
		font-size: 1rem;
	}

	main h1 {
		font-size: 1.5rem;
	}

	main h2 {
		font-size: 1.2rem;
	}

	main h3 {
		font-size: 1rem;
	}

	main p {
		font-size: 0.8rem;
	}

	main ul li {
		font-size: 0.8rem;
	}

	.resource-set {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px) {
	footer ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 1rem;
	}

	footer ul li {
		border-right: none;
	}

	.officer-roles {
		grid-template-columns: 1fr;
		text-align: center;
	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 320px) {
	footer ul li {
		border-right: none;
		display: block;
		font-size: 0.8rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #181818;
	}

	.main-content:nth-child(even),
	.news-content:nth-child(even),
	.project-content:nth-child(even),
	main .news .news-content:nth-child(even),
	main .projects .project-content:nth-child(even) {
		background-color: #333;
	}

	.header-content a,
	.main-content a,
	.news-content a,
	.project-content a {
		color: #eee;
	}
}
