* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	padding-bottom: 2rem;
}

header {
	background-color: #000;
	padding: 1rem max(5%, 1rem);
}

header img {
	image-rendering: pixelated;
	width: 40rem;
	max-width: 100%;
}

nav {
	background-color: #333;
	padding: 0 max(5%, 1rem);
}

nav ul li {
	display: inline-block;
	padding: 0.5rem 0;
}

nav ul li.selected {
	background-color: #d00;
}

nav ul li:hover {
	background-color: #fff;
}

nav ul li a {
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

nav ul li:hover a {
	color: #d00;
}

main {
	margin: 0 auto;
	width: 64rem;
	max-width: 90%;
}

main h1 {
	text-align: center;
	padding: 2rem;
}

main h2 {
	padding-bottom: 1rem;
}

main h3 {
	color: #d00;
	padding-bottom: 0.5rem;
}

main hr {
	margin: 1rem 0;
}

main p {
	margin-bottom: 1.5rem;
}

main ul {
	margin-bottom: 1.5rem;
}

main a {
	color: #d00;
}

main a:hover {
	color: #000;
}

.news h1,
.projects h1 {
	color: #d00;
	padding-top: 1rem;
}

.news-content h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.news-content,
.project {
	padding: 1rem 2rem;
}

.news-content:nth-child(even),
.project:nth-child(even),
.resource-section:nth-child(even) {
	background-color: #ddd;
}

.news-content p:last-child,
.project p:last-child,
.resource p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.project img,
.project video {
	margin-bottom: 1em;
	margin-right: 2em;
	width: 315px;
	max-width: 100%;
}

.project-content {
	display: flex;
	flex-flow: row wrap;
}

.project-description {
	max-width: calc(64rem - 315px - 6rem);
}

.resource-section {
	padding: 1rem;
}

.resource-section h2 {
	text-align: center;
}

.resource-set {
	display: flex;
	flex-flow: row wrap;
}

.resource {
	padding: 1rem;
	max-width: 28rem;
}

.resource h3 {
	text-align: center;
}

.contacts {
	display: flex;
	flex-flow: row wrap;
}

.contact {
	width: 18rem;
	padding: 1rem;
	padding-top: 0;
}

.contact h3 {
	padding-bottom: 0.5rem;
}

.contact p {
	padding-bottom: 0;
	margin-bottom: 0;
}

@media screen and not (min-width: 66rem) {
	.project-description,
	.resource {
		max-width: 100%;
	}

	.project img,
	.project video {
		margin-right: 0;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #181818;
	}

	.news-content:nth-child(even),
	.project:nth-child(even),
	main .news .news-content:nth-child(even),
	main .projects .project:nth-child(even),
	main .resource-section:nth-child(even) {
		background-color: #333;
	}

	main a:hover {
		color: #eee;
	}
}
